@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@* <meta http-equiv="refresh" content="30"> *@
<script type="text/javascript">
    let myDate = new Date();
    let myDay = myDate.getDay();

    // Array of days. 
    let weekday = ['Sunday', 'Monday', 'Tuesday',
        'Wednesday', 'Thursday', 'Friday', 'Saturday'
    ];
    document.write("Today is : " + weekday[myDay]);
    document.write("<br/>");

    // get hour value. 
    let hours = myDate.getHours();
    let ampm = hours >= 12 ? 'PM' : 'AM';
    hours = hours % 12;
    hours = hours ? hours : 12;
    let minutes = myDate.getMinutes();
    minutes = minutes < 10 ? '0' + minutes : minutes;
    let myTime = hours + ":" + minutes +
        ":" + myDate.getMilliseconds() + " " + ampm;
    document.write("\tLast Updated: " + myTime); 
</script>
<hr>
<form method="post">
    <div class="form-group">
        <label asp-for="Amount0">Amount0</label>
        <input asp-for="Amount0" class="form-control" />
        <label asp-for="Amount1">Amount1</label>
        <input asp-for="Amount1" class="form-control" />
        <label asp-for="TokenIn0">TokenIn0</label>
        <input asp-for="TokenIn0" class="form-control" />
        <label asp-for="TokenIn1">TokenIn1</label>
        <input asp-for="TokenIn1" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<hr>

@if(@Model.GasPrice != null)
{
    <div>
        Gas Price: @Model.GasPrice
    </div>
}
@if(@Model.Results != null)
{
<table>
        <tr>
            <th>Pool Meta</th>
            <th>Bid</th>
            <th>Ask</th>
        </tr>
    @foreach (var b in @Model.Results)
    {
        <tr>
            <td>@b.Item1</td>
            <td>@b.Item2</td>
        </tr>
    }
</table>
}

@if(@Model.ArbSellResults?.Count > 0)
{
<table>
    <tr>
        <th>Arb Sell Results</th>
    </tr>
    @foreach (var b in @Model.ArbSellResults)
    {
        <tr>
            <td>@b</td>
        </tr>
    }
</table>
}
